<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a PhD Researcher at Cardiff University focussing on the evolution of the Earth's interior using numerical modelling methods. My interests primarily lie in the coupling between mantle and lithosphere processes, and the way that these interactions may vary across the supercontinent cycle. I utilise the 3D mantle convection code TERRA to simulate Earth's evolution, often implementing plate motion histories at the surface using the GPlates software. 
            </p>
            <p class="paragraph-text justify-text">
                I am keen to further develop my skills in numerical modelling to continue addressing these questions, and will soon be looking for post-doctoral positions. Please contact me to discuss collaborations, future opportunities, or just to chat about the research! 
            </p>
			<p class="paragraph-text justify-text">
		Email me at: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
	     </p>			
	    <div class="extra-links">
	    <span class="hint--bottom bottom-link" aria-label="Email">
		<a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
	    </span>
	    <span class="hint--bottom bottom-link" aria-label="ORCID">
		<a href="mailto:{{ site.email }}"><i class="head-icon fas fa-orcid"></i></a>
	    </span>
	    <span class="hint--bottom bottom-link" aria-label="GitHub">
		<a href="https://orcid.org/0009-0009-5270-8813"><link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"><i class="head-icon fab fa-github"></i></a>
	    </span>
	    <span class="hint--bottom bottom-link" aria-label="LinkedIn">
		<a href="https://www.linkedin.com/in/abigailplimmer"><i class="head-icon fab fa-linkedin"></i></a>
	</span>
            </div>
	</div>
    </section>
</div>
