<div class="section-wrapper">
    <section class="section" id="conferences">
        <div class="full-width">
          <div class = "content">
           <div class="section-heading">Conferences</div>
          </div>

        <button type="button" class="collapsible" class="paragraph-text"><b>2024 Ada Lovelace Workshop on Modelling Mantle and Lithosphere Dynamics</b></button>
        <div class="content">
            <div class="white-box">
             <p class="paragraph-text">
                 <b>Mantle structures beneath an evolving supercontinent: the interaction of slabs and plumes in respose to variable lithosphere structure.</b>
             </p>
            <p class = "paragraph-text">
                <i> <b>Abigail Plimmer<sup>1</sup> </b>, J. Huw Davies<sup>1</sup>, James Panton<sup>1</sup> <br>
                <sup>1</sup>Cardiff University, UK </i> </p>
            <p class = "paragraph-text">
                The relationship between the lithosphere and the mantle during the supercontinent cycle is complex and poorly constrained. The processes which drive dispersal are often simplified to two end members: slab pull and plume push. We aim to explore the interaction between slab and plume processes throughout the supercontinent cycle and consider how subduction processes during supercontinent assembly may affect the way in which a supercontinent breaks apart. We consider lithosphere structure as one of many potential processes which may affect the evolution of upwellings and downwellings and therefore systematically vary the properties of oceanic, continental, and cratonic lithosphere, respectively within our 3D spherical simulations. </p>
              <p class = "paragraph-text">
              The viscosity and thickness of the lithosphere alters the trajectory of downwelling material beneath the supercontinent as it assembles. Where slabs and plumes interact, the cold slabs can reduce the magnitude of an evolving plume, which may limit the contribution of plume push forces on supercontinent breakup. </p>
                </div>
        </div> 
        </div>
    </section>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
