<div class="section-wrapper">
    <section class="section" id="conferences">
        <div class="full-width">
          <div class = "content">
           <div class="section-heading">Conferences</div>
            <div class="subsection-heading"><u>2024 Ada Lovelace Workshop on Modelling Mantle and Lithosphere Dynamics</u></div> 
             <p class="paragraph-text justify-text">
                 <b>Mantle structures beneath an evolving supercontinent: the interaction of slabs and plumes in respose to variable lithosphere structure.</b>
             </p>
            <p class = "paragraph-text justify-text">
                <i> <b>Abigail Plimmer<sup>1</sup> </b>, J. Huw Davies<sup>1</sup>, James Panton<sup>1</sup> <br>
                <sup>1</sup>Cardiff University, UK</i> </p>
              
                </div>
        </div>
    </section>
</div>
