<div class="section-wrapper">
    <section class="section" id="conferences">
        <div class="full-width">
          <div class = "white-box">
           <div class="section-heading">Conferences</div>
            <div class="subsection-heading"><u>2024 Ada Lovelace Workshop on Modelling Mantle and Lithosphere Dynamics</u></div> 
             <p class="paragraph-text justify-text">
                 <b>Mantle structures beneath an evolving supercontinent: the interaction of slabs and plumes in respose to variable lithosphere structure.</b>
             </p>
            <p class = "paragraph-text justify-text">
                <i><b>Abigail Plimmer</b>, J. Huw Davies, James Panton <i></p>
                </div>
        </div>
    </section>
</div>
