<div class="section-wrapper">
    <section class="section" id="CV">
        <div class="full-width">
          <div class = "white-box">
           <div class="section-heading">CV</div>
	    <div align="center"><iframe
		src="../assets/images/LOVELACE_2_compressed.pdf"
		height = "800"
		width = "600"
		title="CV"
	    ></iframe></div>
		  <p class="paragraph-text" href="../assets/images/LOVELACE_2_compressed.pdf" download>Click here to download CV</p>
          </div>
        </div>
    </section>
</div>
