
<section class="head" id="nav">
        <div class="head-menu-wrap" id="myHeader">
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="#research">RESEARCH</a>
            <a class="semi-transparent-button with-border nav-links" href="#publications">PUBLICATIONS</a>
            <a class="semi-transparent-button with-border nav-links" href="#conferences">CONFERENCES</a>
            <a class="semi-transparent-button with-border nav-links" href="#teaching">TEACHING</a>
            <a class="semi-transparent-button with-border nav-links" href="#conferences">CV</a>
        </div>
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">{{ site.title }}</div>
        <div class="head-punchline animated">{{ site.description }}</div>
 
    <script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</section>
