<div class="section-wrapper">
    <section class="section" id="research">
        <div class="full-width">
            <div class = "white-box">
             <div class="section-heading"> Research </div>
                
                <div class = "subsection-heading" style="color:#34A7CB"> Research Interests 
                 <hr style="height:3px;border-width:0;color:#34A7CB;background-color:#34A7CB"> </div>
                <ul class="columns paragraph-text">
                    <b><li>Supercontinent cycles</li>
                    <li>Mantle circulation</li>
                    <li>Slab dynamics</li>
                    <li>Plate tectonics</li>
                    <li>LLSVP stability</li>
                    <li>Plume origins and evolution</li>
                    <li>Lithosphere and mantle coupling</li>
                    <li>Earth's tectonic evolution</li>
                    <li>Evolution of planetary interiors</li></b></ul>
                <p class="paragraph-text justify-text">
                    My current research focuses on how mantle dynamics are coupled with the lithosphere throughout the supercontinent cycle using 3D global mantle circulation models. To approach this problem I split a mantle circulation cycle into constituent large-scale processes; downwelling dynamics in the mantle and the effect of plate motion on slab sinking in the deep mantle, the coupling between deep mantle structures and plate tectonics, and the way in which lithosphere structure can affect mantle dynamics from supercontinent formation through to break up. </p>
                 <p class="paragraph-text justify-text">
                    I am keen to advance this research to better understand the degree to which planetary interiors and surfaces evolve co-dependently. Especially, I am keen to understand how upwellings and downwellings both drive and are driven by plate tectonics and mantle circulation, and the role of deep mantle structures in facilitating these relationships. </p>

                
                <div class = "subsection-heading" style="color:#34A7CB"> Research/Academic Experience
                <hr style="height:3px;border-width:0;color:#34A7CB;background-color:#34A7CB">  </div>
                <p class="paragraph-text">
                    <b>PhD Researcher in Mantle Geodynamics (October 2021 - Present)</b><br>
                    <i>Tectonics & Geophysics Research Group, School of Earth & Environmental Sciences, Cardiff University, Cardiff, UK </i><br>
                    PhD Thesis: Constraining the relationship between mantle circulation and supercontinent cycles.<br>
                    Supervisors: Prof. J. Huw Davies, Prof. James Wookey, Dr James Panton</p>
                <p class="paragraph-text">
                    <b>MSc in Structural Geology & Geophysics (September 2020 - September 2021; Awarded: Distinction)</b><br>
                    <i>School of Earth & Environment, University of Leeds, Leeds, UK</i><br>
                    MSc Dissertation: Assessing the role of extension velocity and magmatic additions as controls on magmatic budget during rifting and rifted margin formation.<br>
                    Supervisors: Dr Mohamed Gouiza, Dr Tim Craig</p>
                <p class="paragraph-text">
                    <b>BSc(Hons.) in Geology with Physical Geography (September 2017 - September 2020; Awarded: 1st Class)</b><br>
                    <i>Department of Earth, Ocean, and Environmental Sciences, University of Liverpool, Liverpool, UK </i> <br>
                    BSc Dissertation: The Geological History of the Camaret-Sur-Mer Region of the Crozon Peninsula. 
                    Supervisors: Dr Paul Wallace, Prof Peter Burgess</p>
                
                
                <div class = "subsection-heading" style="color:#34A7CB"> Awards & Grants 
                <hr style="height:3px;border-width:0;color:#34A7CB;background-color:#34A7CB"></div>
                <p class="paragraph-text">
                    <b> EGU - Poster Award Winner (AWARD - 2024) </b>
                    Awarded for poster presentation at EGU Geodynamics Division: Ada Lovelace Workshop on Modelling Mantle & Lithosphere Processes.  </p>
                <p class="paragraph-text">
                    <b>BGA - Best Poster Award Runner-Up (AWARD - 2023) </b>
                    Awarded for poster presentation at BGA Postgraduate Research in Progress (PGRiP) conference. </p>
                <p class="paragraph-text">
                    <b>NERC GW4+ Doctoral Training Partnership PhD Studentship (STUDENTSHIP - 2021) </b>
                    Fully funded PhD studentship at Cardiff University. </p>
                <p class="paragraph-text">
                    <b>Schlumberger Oilfield UK Plc Prize for best taught performance (AWARD - 2021) </b> <br>
                    Awarded to the student in the final year of a programme of study leading to the degree of MSc Structural Geology with Geophysics who achieves the highest overall grade point average in the taught modules for the programme.</p>
                <p class="paragraph-text">
                    <b> £9000 Marsden Alumnus Award (SCHOLARSHIP - 2020) </b><br>
                    Scholarship to facilitate Masters studies at University of Leeds.</p>
                <p class="paragraph-text">
                    <b> £7000 Leeds Masters Scholarship (SCHOLARSHIP - 2020) </b><br>
                    Scholarship to facilitate students from under-represented groups to study a Masters qualification at University of Leeds.   </p>
                <p class="paragraph-text">
                    <b>Liverpool Geological Society Overall Excellence Prize for BSc Geology and Physical Geography (AWARD - 2020) </b><br>
                    Awarded to the student in the third year who attains the highest grade point average for the programme Geology and Physical Geography. </p>
                <p class="paragraph-text">
                    <b>Global Undergraduate Awards Highly Commended Entrant (AWARD - 2020) </b><br>
                    In association with BSc. dissertation. </p>
                <p class="paragraph-text">
                    <b>Mineralogical Society of Great Britain & Ireland Student Award (AWARD - 2019)</b><br>
                    Awarded to second-year student with the highest ranking marks in mineralogy and petrology. </p>
                    


        </div>
        </div>
    </section>
</div>
