<div class="section-wrapper">
    <section class="section" id="research">
        <div class="full-width">
            <div class = "white-box">
             <div class="section-heading"> Research </div>
                <div class = "subsection-heading"> Research Interests </div>
                <div class = "subsection-heading"> Research/Academic Experience </div>
                <p class="paragraph-text">
                    <b>PhD Researcher in Mantle Geodynamics (October 2021 - Present)</b><br>
                    Tectonics & Geophysics Research Group, School of Earth & Environmental Sciences, Cardiff University, Cardiff, UK <br>
                    <i>PhD Thesis: Constraining the relationship between mantle circulation and supercontinent cycles.</i> <br>
                    <i>Supervisors: Prof. J. Huw Davies, Prof. James Wookey, Dr James Panton</i></p>
                <p class="paragraph-text">
                    <b>MSc in Structural Geology & Geophysics (September 2020 - September 2021)</b><br>
                    School of Earth & Environment, University of Leeds, Leeds, UK <br>
                    <i>MSc Dissertation: Assessing the role of extension velocity and magmatic additions as controls on magmatic budget during rifting and rifted margin formation.</i> <br>
                    <i>Supervisors: Dr Mohamed Gouiza, Dr Tim Craig</i></p>
                <p class="paragraph-text">
                    <b>BSc(Hons.) in Geology with Physical Geography (September 2017 - September 2020)</b><br>
                    Department of Earth, Ocean, and Environmetnal Sciences, University of Liverpool, Liverpool, UK <br>
                    <i>MSc Dissertation: Assessing the role of extension velocity and magmatic additions as controls on magmatic budget during rifting and rifted margin formation.</i> 
                    <i>Supervisors: Dr Paul Wallace, Prof Peter Burgess</i></p>
                
                   
                   
                <div class = "subsection-heading"> Awards & Grants </div>
        </div>
        </div>
    </section>
</div>
