<div class="section-wrapper">
    <section class="section" id="research">
        <div class="full-width">
            <div class = "white-box">
             <div class="section-heading"> Research </div>
                <div class = "subsection-heading"> Research Interests </div>
                <div class = "subsection-heading"> Research/Academic Experience </div>
                <p class="paragraph-text">
                    <b> PhD Research in Mantle Geodynamics (October 2021 - Present)</b><br>
                    Tectonics & Geophysics Research Group, School of Earth & Environmental Sciences, Cardiff University, Cardiff, UK
                    <i>PhD Thesis: Constraining the relationship between mantle circulation and supercontinent cycles.</i>
                   
                <div class = "subsection-heading"> Awards & Grants </div>
        </div>
        </div>
    </section>
</div>
