<div class="section-wrapper">
    <section class="section" id="teaching">
        <div class="full-width">
         <div class="section-heading">Teaching</div>
         <p class="paragraph-text justify-text">
             Throughout my time at Cardiff University I have facilitated teaching on a range of undergraduate modules. I am committed to creating an inclusive and supportive learning environment which encourages students to become independent learners, and have explored this through my participation in the AdvanceHE-accredited Cardiff University Education Associate Fellow Programme.
         </p>
        <div class="subsection-heading">Year 1</div> 
        </div>
    </section>
</div>
