<div class="section-wrapper">
    <section class="section" id="teaching">
        <div class="full-width">
         <div class="section-heading">Teaching & Outreach</div>
         <p class="paragraph-text justify-text">
             Throughout my time at Cardiff University I have facilitated teaching on a range of undergraduate modules. I am committed to creating an inclusive and supportive learning environment which encourages students to become independent learners, and have explored this through my participation in the AdvanceHE-accredited Cardiff University Education Associate Fellow Programme.
         </p>
        <div class="subsection-heading">1st Year UG</div> 
            <button type="button" class="collapsible" class="paragraph-text">GIS, Maps and Analytical Skills</button>
            <div class="content">
            <p class = "paragraph-text">
                <b>Responsibilities:</b>  <br> 
                <ul class= "paragraph-text">
                <li> <b>Teaching and Technical Support:</b> Instruct students on using GIS software to identify geological structures and analyze data in a virtual environment, supplementing fieldwork skills. </li>
                <li> <b>Geological Mapping and Analysis:</b> Guide students in reading, interpreting, and creating geological maps, fostering their understanding of geological structures through digital tools.</li>
                <li><b>Assessment and Feedback:</b> Grade student assessments and provide detailed, constructive feedback to support their academic development and understanding of geological mapping and GIS applications. </li> </ul> </p> </div>

            <button type="button" class="collapsible" class="paragraph-text">Earth Science Fieldwork</button>
            <div class="content">
            <p class = "paragraph-text">
                <b>Responsibilities: </b> <br> 
                <ul class="paragraph-text">
                <li> <b>Teaching and Pastoral Support:</b> Deliver undergraduate field courses in structural geology and geological field skills (e.g., cross sections, mapping). Provide academic guidance and pastoral support to students during fieldwork. </li>
                <li> <b>First Aid:</b> Serve as a certified First Aider, ensuring student safety and managing health-related emergencies during field courses.</li>
                <li> <b>Logistics Support: </b> Assist in organizing field trips, including logistical planning and coordination of necessary resources and equipment. </li> </ul> </p> </div>
            <p></p>
            
            <div class="subsection-heading">2nd Year UG</div> 
            <button type="button" class="collapsible" class="paragraph-text">Structural Geology and Geophysical Investigation</button>
            <div class="content">
            <p class = "paragraph-text">
                <b>Responsibilities:</b>   <br> 
                <ul class = "paragraph-text">
                    <li><b>Advanced Structural Geology and Geophysics Instruction: </b> Teach second-year undergraduates to solve complex structural geology problems and introduce geophysical datasets, fostering their ability to integrate geological and geophysical methods.</li>
                    <li><b>Integration of Geophysical and Geological Skills:</b> Help students apply both geophysical datasets and geological principles to interpret and reconstruct the geological evolution of remote regions, enhancing their multidisciplinary analytical skills.</li>
                    <li><b>Formative Feedback and Academic Support: </b> Provide formative feedback to ensure students’ understanding of complex Earth science concepts, offering guidance to help them tackle advanced geological problems.</li> </ul> </p> </div>
            <button type="button" class="collapsible" class="paragraph-text">Geological Fieldwork, Data Analysis, & Professional Skills </button>
            <div class="content">
            <p class = "paragraph-text">
                <b>Responsibilities:</b>  <br> 
                <ul class = "paragraph-text"> 
                    <li><b>Field-Based Structural Geology Support:</b> Guide students in solving structural geology problems in the field, helping them analyze outcrops and scale small-scale observations into a regional deformation history.</li>
                    <li><b>Geodynamic Context and Field Analysis:</b> Assist students in understanding the geodynamic context of field sites, particularly in Snowdonia and North Spain, encouraging them to connect local observations to broader geological processes.</li>
                    <li><b>Student Liaison and Formative Feedback: </b> Act as an intermediary between students and professors, providing feedback on field skills, observations, teamwork, and preparation for independent mapping projects, ensuring readiness for dissertation work.</li></ul></p></div>

            <p></p>
            <hr style="height:3px;border-width:0;color:#222;background-color:#222">
            <p></p>
            
            <div class="subsection-heading">Outreach & Extra-curriculars</div> 
            <ul class = "paragraph-text">
                <li>A-Level Geodynamics Masterclass at local 6th Form College through the Brilliant Club (2022)</li>
                <li>Member of Athena SWAN EDI subgroup (2021-present)</li>
                <li>Member of URGE podlet (Unlearning Racism in Geosciences; 2021-present)</li> 
                <li>Postgraduate EDI Representative (2021-present)</li>
                <li>Delivered Scholars Programme Environmental Science course to local secondary school through the Brilliant Club (2021-2022)</li>
                <li>MSc Course Representative (2020-2021)</li>
                <li>Liverpool Women in Geoscience Earth Day Event (2020; cancelled due to COVID pandemic)</li>
                <li>Liverpool Women in Geoscience International Women's Day Seminar (2020)</li>
                <li>Created & led Liverpool Women in Geoscience (2019-2020)</li>
                <li>Herdman Geological Society Vice President (2019-2020)</li></ul>
                
                
    </section>
</div>
