<div class="section-wrapper">
    <section class="section" id="teaching">
        <div class="full-width">
         <div class="section-heading">Teaching</div>
         <p class="paragraph-text justify-text">
             Throughout my time at Cardiff University I have facilitated teaching on a range of undergraduate modules. I am committed to creating an inclusive and supportive learning environment which encourages students to become independent learners, and have explored this through my participation in the AdvanceHE-accredited Cardiff University Education Associate Fellow Programme.
         </p>
        <div class="subsection-heading">Year 1</div> 
            <button type="button" class="collapsible" class="paragraph-text">GIS, Maps and Analytical Skills</button>
            <div class="content">
            <p class = "paragraph-text">
                Responsibilities:  </br> 
                <ul class"paragraph-text">
                <li> Teach software skills including GIS applications </li>
                <li> Teach fundamental geological skills including cross section construction and introduction to structural analysis</li>
                <li> Help undergraduate students construct and understand geological maps </li> </ul> </p>


                
             <ul class="paragraph-text justify-text">
                 <li> GIS, Maps and Analytical Skills </li>
                 <li> Earth Science Fieldwork </li>
             </ul>
        <div class="subsection-heading">Year 2</div> 
             <ul class="paragraph-text justify-text">
                 <li> Structural Geology and Geophysical Investigation </li>
                 <li> Geological Fieldwork, Data Analysis, & Professional Skills </li>
             </ul>
        <div class="subsection-heading">Key Responsibilities</div> 
             <ul class="paragraph-text justify-text">
                 <li> Facilitate undergraduate practicals and field courses </li>
                 <li> Teaching software skills including Microsoft Office and GIS applications </li>
                 <li> Developing general and specific feedback </li>
                 <li> Fieldwork First Aid </li>
             </ul>
    </section>
</div>
